{% extends 'pjapp/playing/base.html' %}

{% load humanize %}

{% block page_name %}You've scanned a QR Code.{% endblock %}
{% block title_page_name %}You've scanned a QR Code.{% endblock %}


{% block content %}
<h2>
    <i class="fa fa-warning"></i>
    This QR Code is not available to you
</h2>
<p>
    To access the content triggered by this QR Code, you need to be currently playing activity
    {% for activity in activities %}{% if not forloop.first %}{% if forloop.last %} or {% else %}, {% endif %}{% endif %}"{{activity.title}}"{% endfor %}
</p>
{% with recpathcount=recorded_paths.count %}
{% if recpathcount %}
<div class="item">
    <h3>
        <i class="fa fa-arrow-right"></i>
        This can be accessed from {{recpathcount|pluralize:"this ongoing trajectory,one of these ongoing trajectories"}}
    </h3>
    <ul>
        {% for recpath in recorded_paths %}
        <li>
            <a href="{% url 'pjapp:play:resume_path' pk=recpath.id %}">
                <i class="fa fa-play"></i>
                {{recpath.title}}
            </a>
            (started {{recpath.date_started|naturaltime}})
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
{% with pathcount=paths.count %}
{% if pathcount %}
<div class="item">
    <h3>
        <i class="fa fa-line-chart"></i>
        You can access this activity by starting {{pathcount|pluralize:"this trajectory,one of these trajectories"}}
    </h3>
    <ul>
        {% for path in paths %}
        <li>
            <a href="{% url 'pjapp:play:start_path' slug=path.slug %}">
                <i class="fa fa-play"></i>
                {{path.title}}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No trajectory can lead you there.</p>
{% endif %}
{% endwith %}
{% endif %}
{% endwith %}
{% endblock %}