body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background: #f0f0f0;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2em;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    color: #ffffff;
    font-size: 1.25em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1100;
    box-shadow: 0 1px 2px #999999;
    padding: .6em 0;
    line-height: 1.2em;
}

.common header {
    background: #20a080;
}

.common a {
    color: #00a050;
}

.playing header {
    background: #2080a0;
}

.playing a {
    color: #0050a0;
}

.authoring header {
    background: #D08040;
}

.authoring a {
    color: #a05000;
}

header.collapsed {
    font-size: 1em;
    padding: .5em 0;
}

h1 {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 20px;
}

header a {
    color: #ffffff !important;
}

.home-link {
    float: right;
    margin-left: .5em;
}

.global-title {
    font-weight: 100;
}

.collapsed .global-title {
    display: none;
}

.main-section {
    max-width: 920px;
    margin: 0 auto;
    padding: .2em 20px;
    background: #ffffff;
}

h2 {
    font-size: 1.2em;
    font-weight: 900;
    margin: 1em 0 .6em;
}

p, h3, h4, li {
    margin: .6em 0;
}

.rich-content {
    display: inline-block;
    width: 100%;
}

.rich-content strong,
.rich-content b {
    font-weight: 700;
}

em,
.rich-content i {
    font-style: italic;
}

.rich-content img {
    display: block;
    margin: .6em auto;
    max-width: 100% !important;
    height: auto !important;
}

.rich-content ul {
    list-style: disc;
    padding-left: 1.4em;
}

.rich-content ol {
    list-style: decimal;
    padding-left: 1.4em;
}

.rich-content iframe {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.rich-content .fb_iframe_widget {
    text-align: center !important;
    display: block !important;
}

.column {
    margin: .5em 0 1em;
    box-sizing: border-box;
}

@media (min-width:600px) {
    .columniser {
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .column {
        width: 50%;
    }
    .column:first-child {
        float: left;
        padding-right: 10px;
    }
    .column:last-child {
        float: right;
        padding-left: 10px;
    }
}

.filter-tag-list li {
    display: inline-block;
    line-height: 1.6em;
    margin: 0 .2em .2em 0;
}

.filter-tag {
    padding: 0 .3em;
}

.authoring .filter-tag {
    background: #FFE0D0;
}

.playing .filter-tag {
    background: #D0E0FF;
}

.filter-tag.active a {
    color: #ffffff !important;
}

.filter-tag {
    color: #FFFFFF;
}

.authoring .filter-tag.active {
    background: #b06000;
}

.playing .filter-tag.active {
    background: #004080;
}

.item {
    margin: .5em 0 1em;
    padding: .5em .8em;
}

.authoring .item {
    background: #fff0e0;
}

.playing .item {
    background: #e0f0ff;
}

.item h3 {
    font-weight: 700;
    font-size: 1.1em;
}

img.floated-image {
    float: left; margin: 0 .2em .2em 0;
}

.item-metadata {
    width: 100%;
    clear: both;
    margin: .3em 0;
}

p.metadata-field {
    margin: .3em 0 0;
    font-weight: 100;
}

.item-metadata th {
    font-weight: 100;
    text-align: left;
    vertical-align: top;
    padding: .1em .1em .1em 0;
    width: 30%;
}

.item-metadata td {
    vertical-align: bottom;
    font-style: italic;
    padding: .1em 0;
}

li.item-tag {
    display: inline-block;
    margin: 0;
}

.item-tag:nth-last-child(n+2)::after {
    content: ", ";
}

input[type=text],
input[type=search],
input[type=password],
input[type=number],
input[type=email],
select {
    border: 1px solid #999999;
    border-radius: .2em;
    line-height: 1.4em;
    padding: 0 .2em;
    margin: 0;
}

textarea {
    border: 1px solid #999999;
    box-sizing: border-box;
    padding: .2em;
    margin: 0;
    resize: none;
}

.comment.item p,
.comment.item h4 {
    margin: .2em 0;
    display: inline-block;
    width: 100%;
}

.comment.item h4 {
    font-weight: 100;
}

.comment-about-list,
.comment-about-list li {
    display: inline;
}

.comment-about-list li:nth-last-child(n+2)::after {
    content: ",";
}

img.comment-image {
    max-width: 160px;
    max-height: 120px;
    float: left;
    margin: .2em .2em;
}

input.copiable-input {
    box-sizing: border-box;
    width: 100%;
}

.widget-selector input[type=submit] {
    background: #ffa040;
    border: none;
    border-radius: .2em;
    line-height: 1.5em;
    padding: 0 .4em;
}

.highlight {
    background: rgba(255,255,50,.8);
}

footer {
    font-size: .7em;
    text-align: right;
    font-weight: 100;
}

