{% extends 'pjapp/authoring/base_form.html' %}

{% load staticfiles %}

{% block page_name %}Editing checklist widget{% endblock %}
{% block title_page_name %}Editing checklist widget{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Items on the list (use commas to separate items):</p>
    <p>
        <ul id="checklist-tags">
            {% for tag in widget.checklist.get_tag_list %}
            <li>{{tag}}</li>
            {% endfor %}
        </ul>
    </p>
    <p class="submit-container">
        <input type="submit" value="Save checklist widget" />
    </p>
</form>

<h2>
    <a href="{% url 'pjapp:author:explore_activity' pk=widget.activity_id %}">
        <i class="fa fa-arrow-left"></i>
        <i class="fa fa-calendar-check-o"></i>
        Back to activity
    </a>
</h2>
<script>
    $(function() {
        $('#checklist-tags').tagit({
            allowSpaces: true
        });
        $('form').submit(function() {
            $('#id_contents').val(
                JSON.stringify(
                    $('#checklist-tags').tagit('assignedTags')
                )
            );
        });
    });
</script>
{% endblock %}